/* ===========================
    Project Styling (Sass)
   =========================== */
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, body {
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #212529; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

pre {
  overflow: auto; }

code, pre {
  font-family: courier new, Courier, monospace;
  font-size: 1em; }

img {
  width: 100%; }

.no-margin {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #3ec1d5; }

ul {
  list-style: none; }

/*
  * Remove text-shadow in selection highlight:
  * https://twitter.com/miketaylr/status/12228805301
  *
  * Vendor-prefixed and regular ::selection selectors cannot be combined:
  * https://stackoverflow.com/a/16982510/7133471
  *
  * Customize the background color to match your design.
  */
::-moz-selection {
  background: #fff;
  text-shadow: none; }
::selection {
  background: #fff;
  text-shadow: none; }

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* Remove the gap between audio, canvas, iframes,
  * images, videos and the bottom of their containers:
  * https://github.com/h5bp/html5-boilerplate/issues/440
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical; }

/* Browser Upgrade Prompt */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Theme
   ========================================================================== 
   General settings such as backgrounds and text sizes used throughout the 
   site.
   */
/* Margin & Padding classes */
.m-1 {
  margin: 16px;
  margin: 1rem; }

.my-1 {
  margin: 16px 0;
  margin: 1rem 0; }

.p-1 {
  padding: 16px;
  padding: 1rem; }

.py-1 {
  padding: 16px 0;
  padding: 1rem 0; }

.m-2 {
  margin: 32px;
  margin: 2rem; }

.my-2 {
  margin: 32px 0;
  margin: 2rem 0; }

.p-2 {
  padding: 32px;
  padding: 2rem; }

.py-2 {
  padding: 32px 0;
  padding: 2rem 0; }

.m-3 {
  margin: 48px;
  margin: 3rem; }

.my-3 {
  margin: 48px 0;
  margin: 3rem 0; }

.p-3 {
  padding: 48px;
  padding: 3rem; }

.py-3 {
  padding: 48px 0;
  padding: 3rem 0; }

.m-4 {
  margin: 64px;
  margin: 4rem; }

.my-4 {
  margin: 64px 0;
  margin: 4rem 0; }

.p-4 {
  padding: 64px;
  padding: 4rem; }

.py-4 {
  padding: 64px 0;
  padding: 4rem 0; }

.m-5 {
  margin: 80px;
  margin: 5rem; }

.my-5 {
  margin: 80px 0;
  margin: 5rem 0; }

.p-5 {
  padding: 80px;
  padding: 5rem; }

.py-5 {
  padding: 80px 0;
  padding: 5rem 0; }

/* Text Styles */
.x-large {
  font-size: 64px;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

.large {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

.lead {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

.text-center {
  text-align: center; }

.text-primary {
  color: #319aaa; }

/* Backgrounds */
.bg-primary {
  background-color: #3ec1d5;
  color: #fff; }

.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid; }

.bg-dark {
  background-color: #343a40;
  color: #fff; }

.bg-success {
  background-color: #28a745;
  color: #fff; }

.bg-danger {
  background-color: #dc3545;
  color: #fff; }

.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid; }

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); }

.link {
  text-decoration: underline;
  padding: 8px;
  padding: .5rem; }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 32px;
  padding: 0 2rem;
  margin-top: 96px;
  margin-top: 6rem;
  margin-bottom: 48px;
  margin-bottom: 3rem; }

/* Buttons */
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 6.4px 20.8px;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  margin-right: 8px;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .btn.btn-primary {
    background-color: #319aaa;
    color: #fff; }
    .btn.btn-primary:hover {
      background: #53c8da; }
  .btn.btn-light {
    background-color: #d8f2f6;
    color: #333; }
    .btn.btn-light:hover {
      background: #53c8da; }
  .btn.btn-dark {
    background-color: #343a40;
    color: #fff; }
    .btn.btn-dark:hover {
      background: #3f474e; }
  .btn.btn-success {
    background-color: #28a745;
    color: #fff; }
    .btn.btn-success:hover {
      background: #2dbc4e; }
  .btn.btn-danger {
    background-color: #dc3545;
    color: #fff; }
    .btn.btn-danger:hover {
      background: #e04b59; }
  .btn:hover {
    background: #626d78;
    color: #fff; }

/* Header and Top Menu */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11.2px 32px;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #6c757d;
  opacity: 0.9; }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 7.2px;
    padding: 0.45rem;
    margin: 0 3.84px;
    margin: 0 0.24rem; }
    .navbar a:hover {
      color: #3ec1d5; }
  .navbar ul ul {
    display: none;
    position: absolute;
    padding: 4px 0;
    padding: .25rem 0; }
  .navbar ul li:hover > ul {
    display: inherit;
    color: #3ec1d5; }
  .navbar ul ul li {
    float: none;
    padding: 8px 0;
    padding: .5rem 0;
    margin: 0;
    background-color: #292d32;
    display: list-item;
    position: relative; }
  .navbar .custom-brand {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 36px;
    padding: 0;
    background-color: #343a40;
    color: #fff; }
    .navbar .custom-brand span {
      color: #3ec1d5; }

/* Django Alert styles */
.alert {
  padding: 12px 16px;
  padding: .75rem 1rem;
  margin: auto;
  margin-top: 30.4px;
  margin-top: 1.9rem;
  max-width: 733.33333px;
  border-radius: 10px;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  z-index: 1000; }
  .alert:empty {
    visibility: none; }
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #28a745; }
  .alert-warning {
    background-color: #fff9e7;
    border-color: #ffe79a; }
  .alert-error, .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #b94a48; }
  .alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb; }
  .alert-debug {
    background-color: #fff;
    border-color: #d6e9c6;
    color: #000; }

/* Landing page / section */
.landing {
  position: relative;
  background: url("../images/kaleidico-3V8xo5Gbusk-unsplash.jpg") no-repeat center center/cover;
  height: 100vh; }
  .landing-inner {
    color: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }

/* Forms */
.form-group {
  margin: 19.2px 0;
  margin: 1.2rem 0; }

.form-text {
  display: block;
  margin-top: 4.8px;
  margin-top: 0.3rem;
  color: #888; }

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 6.4px;
  padding: 0.4rem;
  font-size: 19.2px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* Use a minimum page height. */
.main-page {
  min-height: 75%;
  font-size: 16px; }

/* Grey out input box placeholders. */
input.placeholder,
textarea.placeholder {
  color: grey; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: grey; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: grey; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: grey; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: grey; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
