//Variables

// Fonts
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-mono   : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-code   : courier new, Courier, monospace;
$font-brand  : 'Raleway', sans-serif;

// Sizes
$max-width: 1100px;

// Default Color Palettes (change as needed)

// Primary Color palette (https://www.color-hex.com/color/3ec1d5)
$primary-color-02: #d8f2f6;
$primary-color-01: #8bd9ef;
$primary-color-0 : #3ec1d5;     // Main Primary Color
$primary-color-1 : #319aaa;
$primary-color-2 : #25737f;


// Background and Text Colors
$primary-color: $primary-color-0;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

$text-default: #212529;
$text-light: $primary-color-02;
$link-default: $primary-color-0;
$background-default: #f2f2f2;
// $background-footer : #252525;
// $border: #dcd9d9;

// Bootstrap Grays
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Color for input box placeholders
$grey: grey;

// Default Button Colors
// $btn-default       : $secondary-color-01;
// $btn-default-hover : $secondary-color-02;
// $btn-default-active: $secondary-color-0;

// $btn-light       : #e0e1e2;
// $btn-light-hover : #cacbcd;
// $btn-light-active: #babbbc;

// Alert colors
// $alert-green: #28a745;
// $mint-green: #d6e9c6;
// $alert-pink: #f2dede;
// $dark-pink: #eed3d7;
// $alert-red: #b94a48;

// Django Admin specific:
$admin-color-03: #e8e8e8;
$admin-color-02: #a6a6a6;
$admin-color-01: #646464;
$admin-color-0: #333;

// Django alert colors
$alert-success-bg    : #d4edda;
$alert-success-border: #c3e6cb;
$alert-success-text  : #28a745;
$alert-warning-bg    : #fff9e7;
$alert-warning-border: #ffe79a;
$alert-error-bg      : #f8d7da;
$alert-error-border  : #f5c6cb;
$alert-error-text    : #b94a48;
$alert-info-bg       : #d1ecf1;
$alert-info-border   : #bee5eb;

// Other colors
$mint-green: #d6e9c6;