/* Header and Top Menu */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $gray-600;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.24rem;

    &:hover {
      color: $primary-color;
    }
  }

  // Dropdown menus
  ul ul {
    display: none;
    position: absolute;
    padding: .25rem 0;
  }

  ul li:hover > ul {
    display: inherit;
    color: $primary-color;
  }
  
  // First Tier Dropdown
  ul ul li {
    float: none;
    padding: .5rem 0;
    margin: 0;
    background-color: darken($color: $dark-color, $amount: 5%);
    display: list-item;
    position: relative;
  }


  .custom-brand {
    font-family: $font-brand;
    font-weight: normal;
    font-size: 36px;
    padding: 0;
    @include set-background($dark-color);
  
    span {
      color: $primary-color-0;
    }
  }
}
