{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  <title>{% block title %}{% endblock title %}My Website</title>

  {% block meta-keywords %}
    <meta name="meta-keywords" content="">
  {% endblock meta-keywords %}

  {% block meta-description %}
    <meta name="description" content="">
  {% endblock meta-description %}

  {% block css %}
    <!-- CSS Libraries -->
    <!-- Fonts -->
    <script src="https://kit.fontawesome.com/ef46d99e63.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 

    <!-- Project-specific CSS file -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% block extra-css %}{% endblock extra-css %}
  {% endblock css %}

</head>
<body>
  
  {% block nav-menu %}
    {% include 'partials/_navbar.html' %}
  {% endblock nav-menu %}

  {% include 'partials/_alerts.html' %}

  <!-- Page Content -->
  {% block page-content %}{% endblock page-content %}

  {% block modal %}{% endblock modal %}

  {% block javascript %}
    <!-- JavaScript Libraries -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- Project specific JavaScript -->
    <script src="{% static 'js/project.min.js' %}"></script>
    {% block extra-js %}{% endblock extra-js %}
  {% endblock javascript %}

</body>
</html>